<%# add navigation links to this file %>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Student<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/students">List</a></li>
        <li class="divider"></li>
        <li><a href="/students/new">Create</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Faculties<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/faculties">List</a></li>
        <li class="divider"></li>
        <li><a href="/faculties/new">Create</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Recordbooks<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/recordbooks">List</a></li>
        <li class="divider"></li>
        <li><a href="/recordbooks/new">Create</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lecturers<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/lecturers">List</a></li>
        <li class="divider"></li>
        <li><a href="/lecturers/new">Create</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lessons<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/lessons">List</a></li>
        <li class="divider"></li>
        <li><a href="/lessons/new">Create</a></li>
    </ul>
</li>